/*!*****************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./assets/src/css/main.css ***!
  \*****************************************************************************************************************************************************************************/
.row .col[class*=pull-],
.row .col[class*=push-] {
  position: relative;
}
.row:after {
  clear: both;
  content: "";
  display: table;
}
.container {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 16px;
  width: 100%;
}
.row .col.s1,
.row .col.s10,
.row .col.s11,
.row .col.s12,
.row .col.s2,
.row .col.s3,
.row .col.s4,
.row .col.s5,
.row .col.s7,
.row .col.s8,
.row .col.s9 {
  left: auto;
  margin-left: auto;
  right: auto;
}
.row {
  margin: 0 -5px;
}
.row .col {
  float: left;
  padding: 0 5px;
}
.row .col.s1 {
  width: 8%;
}
.row .col.s2 {
  width: 16%;
}
.row .col.s3 {
  width: 25%;
}
.row .col.s4 {
  width: 33.333%;
}
.row .col.s5 {
  width: 41%;
}
.row .col.s6 {
  left: auto;
  margin-left: auto;
  right: auto;
  width: 50%;
}
.row .col.s7 {
  width: 58%;
}
.row .col.s8 {
  width: 66%;
}
.row .col.s9 {
  width: 75%;
}
.row .col.s10 {
  width: 83%;
}
.row .col.s11 {
  width: 91%;
}
.row .col.s12 {
  width: 100%;
}
@media only screen and (min-width: 769px) {
  .row .col.m1,
  .row .col.m10,
  .row .col.m11,
  .row .col.m12,
  .row .col.m2,
  .row .col.m3,
  .row .col.m4,
  .row .col.m5,
  .row .col.m6,
  .row .col.m7,
  .row .col.m8,
  .row .col.m9 {
    left: auto;
    margin-left: auto;
    right: auto;
  }
  .row .col.m1 {
    width: 8%;
  }
  .row .col.m2 {
    width: 16%;
  }
  .row .col.m3 {
    width: 25%;
  }
  .row .col.m4 {
    width: 33.333%;
  }
  .row .col.m5 {
    width: 41%;
  }
  .row .col.m6 {
    width: 50%;
  }
  .row .col.m7 {
    width: 58%;
  }
  .row .col.m8 {
    width: 66%;
  }
  .row .col.m9 {
    width: 75%;
  }
  .row .col.m10 {
    width: 83%;
  }
  .row .col.m11 {
    width: 91%;
  }
  .row .col.m12 {
    width: 100%;
  }
}
@media only screen and (min-width: 1201px) {
  .row .col.l1,
  .row .col.l10,
  .row .col.l11,
  .row .col.l12,
  .row .col.l2,
  .row .col.l3,
  .row .col.l4,
  .row .col.l5,
  .row .col.l6,
  .row .col.l7,
  .row .col.l8,
  .row .col.l9 {
    left: auto;
    margin-left: auto;
    right: auto;
  }
  .row .col.l1 {
    width: 8%;
  }
  .row .col.l2 {
    width: 16%;
  }
  .row .col.l3 {
    width: 25%;
  }
  .row .col.l4 {
    width: 33.333%;
  }
  .row .col.l5 {
    width: 41%;
  }
  .row .col.l6 {
    width: 50%;
  }
  .row .col.l7 {
    width: 58%;
  }
  .row .col.l8 {
    width: 66%;
  }
  .row .col.l9 {
    width: 75%;
  }
  .row .col.l10 {
    width: 83%;
  }
  .row .col.l11 {
    width: 91%;
  }
  .row .col.l12 {
    width: 100%;
  }
}
.card {
    background-color: #fff;
    border-radius: 40px;
    padding: 80px;
}
.card > .row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
    }
@media (min-width: 769px) {
.card > .row {
            display: block
    }
        }
.card-avatar {
        aspect-ratio: 1 / 1;
        background-size: cover;
        border-radius: 50%;
        max-width: 100%;
    }
.card-hello {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        background: #6c56e3;
        border-radius: 14px;
        color: #fff;
        display: inline-block;
        font-family: 'Gilroy', Tahoma;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        letter-spacing: 0.01em;
        margin: 0 0 100px;
        padding: 4px 16px;
        -webkit-transform: rotate(-2deg);
                transform: rotate(-2deg);
    }
.card-world {
        color: #1a1a1a;
        font-family: 'Benzin';
        font-size: 45px;
        font-weight: 700;
        line-height: 1.2;
    }
.card-world-line-1 {
            background-color: #c0ea68;
            display: inline-block;
            padding: 10px;
        }
.card-world-line-2 {
            background-color: #c0ea68;
            display: inline-block;
            padding: 10px;
        }
.certs {
    background-color: #c0ea68;
}
.contacts {
    background-color: #fff;
}
.exp {
    background-color: #fff;
}
.exp-list {
        color: #111;
        font-family: 'Gilroy', Tahoma;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.3;
        list-style: none;
    }
.exp-list > li {
            margin: 0 0 16px;
        }
.feedback {
    background-color: #145a51;
}
.header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 50px 0;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.header-nav > a {
        color: #fff;
        font-family: 'Benzin';
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0.1em;
        line-height: 100%;
        padding: 0 20px;
        text-transform: uppercase;
        text-decoration: none;
    }
.header-nav > a:hover {
            color: #c0ea68;
        }
.header {
    background-color: #145a51;
}
.links {
    background: #1a1a1a;
    border-radius: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 32px;
    position: relative;
    top: 32px;
}
.links > a {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        color: #fff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        font-family: 'Benzin';
        font-size: 24px;
        font-weight: 700;
        letter-spacing: 0.01em;
        text-decoration: none;

    }
.section-header {
    font-family: 'Benzin';
    font-size: 74px;
    letter-spacing: 0.03em;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: 600;
}
.section-header--color-dark {
            color: #111;
        }
.section-header--color-light {
            color: #eee;
        }
.section {
    padding: 120px 0;
}
.skills {
    background-color: #145a51;
}
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}


/*# sourceMappingURL=main.css.map*/