.block-header {
    font-family: 'Benzin-ExtraBold';
    font-size: 74px;
    letter-spacing: 0.03em;
    line-height: 1.2;
    text-transform: uppercase;

    &--color {
        &-dark {
            color: #111;
        }
        &-light {
            color: #eee;
        }
    }
}
