.certs {
    background-color: #c0ea68;

    @media (prefers-color-scheme: dark) {
        background-color: #395400;
    }

    &-text {
        color: #111;
        font-family: 'Gilroy', Tahoma;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.3;
        margin: 16px 0;

        @media (prefers-color-scheme: dark) {
            color: #eee;
        }

        @media (--tablet) {
            font-size: 24px;
        }
    }
}

.certs-slider {
}

.cert {
    background-color: #fff;
    border-radius: 20px 50px 20px 20px;
    cursor: pointer;
    color: #222;
    display: block;
    padding: 40px;
    position: relative;
    text-decoration: none;
    transition: box-shadow 0.2s linear;
    -webkit-user-drag: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;

    &:hover {
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    }

    & > svg {
        position: absolute;
        top: 28px;
        right: 28px;
    }

    &-wrapper {
        padding: 10px;
    }

    &-company {
        margin: 0 0 32px;

        & > svg {
            height: 32px;
            width: auto;
        }
    }

    &-title {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 100%;
        margin: 0 0 10px;
    }

    &-fio {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.3;
        margin: 0 0 50px;
    }

    &-link {
        color: #6c56e3;
        display: flex;
        flex-wrap: nowrap;

        & > svg {
            margin: 0 0 0 12px;

            & > path {
                stroke: #6c56e3;
            }
        }
    }
}
