.header-nav {
    display: none;
    margin: 0 0 16px;
    padding: 0;
    justify-content: space-evenly;

    @media (--tablet) {
        display: flex;
    }

    & > a {
        color: #fff;
        font-family: 'Benzin';
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0.1em;
        line-height: 100%;
        padding: 32px 20px;
        text-transform: uppercase;
        text-decoration: none;

        &:hover {
            color: #c0ea68;
        }
    }
}