.header-lang {
    display: none;
    gap: 10px;
    margin: 0 0 16px;
    padding: 0;
    justify-content: space-evenly;

    @media (--tablet) {
        display: flex;
    }

    & > a {
        color: #fff;
        font-family: 'Benzin';
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0.1em;
        line-height: 100%;
        padding-top: 32px;
        padding-bottom: 32px;
        text-transform: uppercase;
        text-decoration: none;

        @media (--tablet) {
            padding: 24px 10px;
        }

        &:first-child {
            padding-right: 10px;
        }

        &:hover {
            color: #c0ea68;
        }
    }
}
