.header-lang {
    display: flex;
    gap: 10px;
    margin: 0 0 16px;
    padding: 0;
    justify-content: space-evenly;

    & > a {
        color: #fff;
        font-family: var(--font-header);
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.1em;
        line-height: 100%;
        padding: 12px 0;
        text-transform: uppercase;
        text-decoration: none;
        transition: color 0.2s linear;

        @media (--tablet) {
            font-weight: 500;
            padding: 24px 8px;
        }

        @media (--desktop) {
            font-weight: bold;
            padding: 24px 10px;
        }

        &:first-child {
            padding-right: 10px;
        }

        &:hover {
            color: var(--color-yellow);
        }
    }
}
