@import 'media';
@import 'variables';
@import 'grid';

@import 'card.css';
@import 'certs.css';
@import 'contacts.css';
@import 'exp.css';
@import 'feedback.css';
@import 'header-nav.css';
@import 'header.css';
@import 'links.css';
@import 'section-header.css';
@import 'section-label.css';
@import 'section.css';
@import 'skills.css';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
