.section-label {
    color: var(--color-violence);
    font-family: var(--font-header);
    font-size: 20px;
    line-height: 100%;
    margin: 0 0 20px;
    word-break: break-all;

    @media (--tablet) {
        font-size: 24px;
        margin: 0 0 32px;
    }

    @media (--desktop) {
        font-size: 24px;
        margin: 0 0 48px;
    }
}
