.section-header {
    font-family: var(--font-header);
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.03em;
    line-height: 1.2;
    margin: 0 0 16px;
    text-transform: uppercase;
    word-break: break-word;

    @media (--tablet) {
        font-size: 28px;
    }

    @media (--desktop) {
        font-size: 42px;
    }

    &--color {
        &-dark {
            color: #111;

            @media (prefers-color-scheme: dark) {
                color: #eee;
            }
        }
        &-light {
            color: #eee;

            @media (prefers-color-scheme: dark) {
                color: #111;
            }
        }
        &-light--force {
            color: #eee;
        }
    }
}
