.section-header {
    font-family: 'Benzin';
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 0.03em;
    line-height: 1.2;
    margin: 0 0 16px;
    text-transform: uppercase;
    word-break: break-word;

    @media (--tablet) {
        font-size: 36px;
    }

    @media (--desktop) {
        font-size: 48px;
    }

    &--color {
        &-dark {
            color: #111;
        }
        &-light {
            color: #eee;
        }
    }
}
