.skills {
    background-color: #145a51;
}

.skill-items {
    & ol,
    & ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: space-between;

        & > li {
            background-color: #fff;
            color: #111;
            border-radius: 30px;
            cursor: default;
            font-family: 'Gilroy', Verdana, Tahoma, Arial;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            letter-spacing: -0.02em;
            line-height: 1.2;
            padding: 16px 32px;
            text-align: center;
        }
    }
}
