:root {
  --font-header: 'Benzin-ExtraBold', 'Arial', 'Verdana', 'Tahoma';
  --font-famiy: Verdana, Tahoma, Helvetica, Arial, sans-serif;
  --transition-length: 0.1s;

  --color-yellow: #c0ea68;
  --color-violence: #6c56e3;
}
